@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-serif: var(--font-instrument-serif);
}


@layer base {
  body {
    @apply bg-background font-inter;
  }
}
