@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0e121b;
  --primary-foreground: #525866;
  --secondary:#FF4B07
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --font-serif: var(--font-instrument-serif);
}

@layer base {
  body {
    @apply bg-background font-inter;
  }

  input {
    @apply h-10 border px-3 rounded-md focus:outline-none focus:ring-1 focus:border-gray-400;
  }

  textarea, select {
    @apply  focus:outline-none focus:ring-1 focus:border-gray-400 resize-none;
  }
}
