@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #0e121b;
  --primary-foreground: #525866;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-serif: var(--font-instrument-serif);
}

@layer base {
  body {
    @apply bg-background font-inter;
  }
}
